export(APIStore.init)
export(APIStore)
export(information)
export(Puzzle)
importFrom(XML,"htmlParse")
importFrom(XML,"xmlRoot")
importFrom(XML,"xpathSApply")
importFrom(XML,"xmlValue")
importFrom(XML,"readHTMLTable")
importFrom(rjson,"fromJSON")
importFrom(RCurl,"url.exists")
importFrom(RCurl,"getCurlHandle")
importFrom(RCurl,"curlSetOpt")
importFrom(RCurl,"getURL")
importFrom(RCurl,"url.exists")

